.container-cart{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    margin-right: 60px;
}
.bubble{
    width: 30px;
    font-size: medium;
    font-weight: bold;
    color: white;
    height: 30px;
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}